<br><br><br>
<p class="navlead">Search for professions. Find people. Discover lists.</p>

<div class="center-block text-center">
	<span class="element"></span>
	<form class="center-search-bar">
           <input type="text" class="form-control" placeholder="I want the typed.js above as a placeholder!"><!-- like these guys: http://www.getnotifiedapp.com/ -->
    </form><br>
	<h1>Featured List</h1>
		<p>The index and show page for User appear to be redundant for our app's prerogative.</p>
		<%= image_tag "navbar-logo.png" %><br>
		<%= image_tag "navbar-logo4.png" %><br>
      	<%= image_tag "navbar-logo5.png" %><br>
      	<%= image_tag "navbar-logo6.png" %><br>
      	<%= image_tag "navbar-logo7.png" %><br>
      	<%= image_tag "navbar-logo8.png" %>




</div>	
