<!DOCTYPE html>
<html>
<head>
  <title>utileus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon2.png' %>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
      	<%= image_tag "navbar-logo3.png" %>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <form class="navbar-form navbar-left">
          <input type="text" class="form-control col-lg-8" placeholder="Search a profession. Find people. Discover lists.">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to current_user.email, edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to("Sign in with Github", user_omniauth_authorize_path(:github)) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<%= yield %>

<!-- RAILS RUMBLE BANNER Place this before your </body> tag. -->
<script type="text/javascript">
  var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
  rumbleBannerBackgroundColor = "#161616";
  rumbleBannerTextColor = "#b0b0b0";
  rumbleBannerLinkColor = "#ffffff";
  rumbleBannerPlacement = "bottom"; // Optionally replace with "bottom".
</script>
<script src="http://s0.railsrumble.com/banner-2014.js" type="text/javascript"></script>
<!-- END RAILS RUMBLE BANNDER -->
</body>
</html>
